
$sectionBorder=1px solid #ddd
$desktopBreakpoint=600px
$desktopSidebarWidth=30rem
$desktopIpsumWidth="calc(100% - %s)" % $desktopSidebarWidth
$sidebarBgColor=#F2EEEE

$headerSectionHeight=8rem
$footerSectionHeight=2.9rem

$bigFontSize=2rem
$medFontSize=1.2rem
$smallFontSize=.9rem

$h1FontFamily='Marko One', serif;
$contentFontFamily='Open Sans', sans-serif

@import 'reset'
@import 'modal'
@import 'animations/rotate';

*
	box-sizing border-box

body
html
	height 100%
	width 100%

body
	display flex
	flex-direction column
	align-items center
	font-family $contentFontFamily

	p
		margin-bottom 1rem
		line-height 1.2

	@media screen and (min-width: $desktopBreakpoint)
		align-items flex-start

body
a
	color #000

header
footer
#jamon-controls
	width 100%
	max-width 600px
	background-color $sidebarBgColor

	@media screen and (min-width: $desktopBreakpoint)
		width $desktopSidebarWidth
		border-right $sectionBorder

		> div
			margin-bottom 2rem

#ipsum-result-container
	flex-grow 1
	padding 2rem
	color #555
	width 100%

	@media screen and (min-width: $desktopBreakpoint)
		position absolute
		right 0
		top 0
		width $desktopIpsumWidth
		height 100vh
		padding ($headerSectionHeight+.5rem) 3rem ($footerSectionHeight+.5rem) 3rem
		overflow auto

#jamon-result
	max-width 600px
	min-width 66% /* for huge screens to go beyond max-width */
	margin 0 auto

header
	padding 1rem
	border-bottom $sectionBorder
	text-align center

header
	@media screen and (min-width: $desktopBreakpoint)
		padding-top 2rem

		p
			font-size $smallFontSize

footer
	padding 1rem
	border-top $sectionBorder
	text-align center
	font-size $smallFontSize

	a
		margin 0 .1rem

h1
h2
	font-family $h1FontFamily
	font-size $bigFontSize
	padding 0rem 0 1rem .2rem

.header-logo
	height 2rem

.pointerable
	cursor pointer
	user-select none

.header-sub
	color #777
	font-style italic
	margin-bottom 0

#jamon-controls
	display flex
	flex-wrap wrap
	align-items center
	justify-content center
	min-height 5rem
	padding 1rem
	border-bottom $sectionBorder

	@media screen and (min-width: $desktopBreakpoint)
		flex-grow 1
		flex-direction column
		font-size $medFontSize
		border-bottom 0

.jamon-muticheckbox
	display flex
	padding-left 1rem

.jamon-muticheckbox > div
	display flex
	flex-direction column
	margin-right 2rem

#jamon-count-input
	width 3.5rem
	height 100%
	font-size $medFontSize
	padding .3rem
	text-align center
	background-color #f9f9f9
	border solid 1px #999
	border-radius 3px

	@media screen and (min-width: $desktopBreakpoint)
		font-size $bigFontSize
		padding .5rem .3rem
		width 4.5rem

label
	user-select none

input
	&[type="radio"]
	&[type="checkbox"]
		width 1rem
		height 1rem
		font-size $medFontSize

	&[type="checkbox"]
		margin-top .5rem

input[type=number]
	&::-webkit-inner-spin-button
	&::-webkit-outer-spin-button
		-webkit-appearance none
		margin 0
