@import 'reset'
@import 'animations/rotate';

$sectionBorder=1px solid #ddd
$desktopBreakpoint=600px
$desktopSidebarWidth=39%
$desktopIpsumWidth=(100% - $desktopSidebarWidth)
$sidebarBgColor=#F2EEEE

*
	box-sizing border-box

body
html
	height 100%
	width 100%

body
	display flex
	flex-direction column
	align-items center
	font-family 'Open Sans', sans-serif

	@media screen and (min-width: $desktopBreakpoint)
		align-items flex-start

body
a
	color #000

header
footer
#jamon-controls
	width 100%
	max-width 600px
	background-color $sidebarBgColor

	@media screen and (min-width: $desktopBreakpoint)
		width $desktopSidebarWidth
		border-right $sectionBorder

		> div
			margin-bottom 2rem

#ipsum-result-container
	flex-grow 1
	padding 2rem
	color #555
	line-height 1.2
	width 100%
	max-width 600px

	@media screen and (min-width: $desktopBreakpoint)
		position absolute
		right 0
		top 0
		width $desktopIpsumWidth
		height 100vh
		padding 5rem 3rem
		overflow auto

header
.modal-header
	padding 1rem
	border-bottom $sectionBorder

header
	@media screen and (min-width: $desktopBreakpoint)
		padding-top 2rem

.modal-main
	padding 1rem
	flex-grow 1
	justify-content center
	max-width 600px
	margin 0 auto

footer
	padding 1rem
	border-top $sectionBorder
	text-align center
	font-size .9rem

h1
h2
	font-size 2rem
	padding 0rem 0 .9rem .2rem

.header-logo
	height 2rem
	cursor pointer
	user-select none

.header-sub
	color #777
	font-style italic

#jamon-controls
	display flex
	flex-wrap wrap
	align-items center
	justify-content center
	min-height 5rem
	padding 1rem
	border-bottom $sectionBorder

	@media screen and (min-width: $desktopBreakpoint)
		flex-grow 1
		flex-direction column
		font-size 1.2rem

.jamon-muticheckbox
	display flex
	padding-left 1rem

.jamon-muticheckbox > div
	display flex
	flex-direction column
	margin-right 2rem

#jamon-count-input
	width 3.5rem
	height 100%
	font-size 1.2rem
	padding .3rem
	text-align center
	background-color #f9f9f9
	border solid 1px #999
	border-radius 3px

	@media screen and (min-width: $desktopBreakpoint)
		font-size 2rem
		padding .5rem .3rem
		width 4.5rem

label
	user-select none

input
	&[type="radio"]
	&[type="checkbox"]
		width 1rem
		height 1rem
		font-size 1.2rem

	&[type="checkbox"]
		margin-top .5rem

footer
	a
		margin 0 .1rem

#info-modal
	display none
	position fixed
	top 0
	left 0
	right 0
	bottom 0

	&:before
		content ' '
		width 100vw
		height 100vh
		opacity .5
		background-color #fff

	body.is-showing-info-modal &
		display flex

#info-modal-content
	background-color white
	position fixed
	top 50%
	left 50%
	transform translate(-50%, -50%)
	width 90%
	max-width 27rem
	padding 0
	border 1px solid #bbb
	border-radius 3px
	justify-content center
	align-items center
	background-color white

	@media screen and (min-width: $desktopBreakpoint)
		padding 1.5rem

#info-modal-close
	position absolute
	top 1rem
	right 1rem
	text-decoration none
	font-size 1.5rem
	filter grayscale(100%)
	opacity .5

.modal-main
#jamon-controls
#ipsum-result-container
	p
		margin-bottom 1rem


input[type=number]
	&::-webkit-inner-spin-button
	&::-webkit-outer-spin-button
		-webkit-appearance none
		margin 0
