
@keyframes rotate {
	0% {
		transform rotateY(0deg)
	}
	99.99% {
		transform rotateY(360deg)
	}
}

.is-rotating
	animation-duration 1.5s
	animation-iteration-count 3
	animation-timing-function linear
	animation-name rotate
